<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>TimeTable</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="">
</head>
<body>
<div id="aa">a</div>
<div id="bb">b</div>
<script type="text/template" id="tmpl-program">
	<li><%= ID %><%= title %></li>
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="./underscore-min.js"></script>
<script src="./Timetable.js"></script>
<script type="text/javascript">
	(function(){
		// comment
		window.test = new TimeTable({
			programs:[{ID:1,title:"a",stage:"main",start_time:"11:00",end_time:"12:00"},{ID:2,title:"b",stage:"main",start_time:"10:00",end_time:"11:00"},{ID:3,title:"c",stage:"sub",start_time:"14:00",end_time:"15:00"},{ID:4,title:"a",stage:"main",start_time:"11:30",end_time:""}],
			column_tgt_ids:['aa','bb'],
			column_key:'stage',
			column_values:['main','sub'],
			hash_prefix:'tab_1-program_',
			tmpl_ids:['tmpl-program']
		});
		console.log(test);
	})();
</script>
</body>
</html>