<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Point Culcuration</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="style.css">
</head>
<body>
<div class="l-wrapper">
	<header class="l-header">
		<div class="header">
			<h1>Point Culcuration</h1>
		</div>
	</header>
	<div id="app"></div>
</div>
<script type="text/x-template" id="tmpl-app">
	<div class="l-content">
		<div class="cmn_box">
			<div class="cmn_box-ttl">
				<h2>【１】ポイント割振</h2>
			</div>
			<div class="cmn_box-main">
				<div class="l-assign_point">
					<div class="assign_point">
						<table>
							<tr><th class="assign_point-project">プロジェクト</th><th class="assign_point-point">ポイント</th></tr>
							<tr v-for="project in project_list" :key="project.id">
								<td>
									{{project.label}}<br>
									⇒ <span v-for="code in project.composed_of" :key="code.id">{{code.name}}({{Math.round(code.percentage * 1000) / 10}}%)</span>
								</td><td><input type="number" min="0" max="100" v-model="project.point" @input="calculateCodePoint"></td>
							</tr>
							<tr class="assign_point-sum"><td>合計</td><td><span class="assign_point-sum-current" :style="total_point_style_obj">{{total_point}}</span>&nbsp;/&nbsp;<span class="assign_point-sum-max">{{max_point}}</span></td></tr>
						</table>
					</div>
				</div>

			</div>
		</div>

		<div class="cmn_box">
			<div class="cmn_box-ttl">
				<h2>【２】結果</h2>
			</div>
			<div class="cmn_box-main">
				<div class="l-result_point">
					<div class="result_point">
						<table>
							<tr><th class="result_point-code">コード名</th><th class="result_point-point">ポイント</th></tr>
							<tr v-for="code in code_data" :key="code.id"><td>{{code.name}}({{code.id}})</td><td>{{code.point}}</td></tr>
						</table>
					</div>
				</div>
			</div>
		</div>

	</div>
</script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="./setting.js"></script>
<script type="text/javascript">
	(function(){

		new Vue({
			el:'#app',
			template:'#tmpl-app',
			data:{
				max_point:0,
				project_list:[],
				code_data:{}
			},
			computed:{
				code_list:function(){
					var ret= [];
					for(var i in this.code_data){
						ret.push(this.code_data[i]);
					}
					return ret;
				},
				total_point:function(){
					var ret = 0;
					this.project_list.forEach(function(project){
						ret += project.point * 1;
					});
					return ret;
				},
				total_point_style_obj:function(){
					return this.total_point > 100 ? {color:"#f00"}:{};
				}

			},
			created:function(){
				var that = this;
				var _tmp_setting = 'setting' in window ? setting:[];
				this.max_point = _tmp_setting.max_point;

				_tmp_setting.projects.forEach(function(project){
					project.point = 0;
					that.project_list.push(project);
					project.composed_of.forEach(function(code){
						if(!that.code_data[code.id]){
							code.point = 0;
							that.code_data[code.id] = code;
						}
					});
				});


			},
			methods:{
				/**
				 * コードポイントを計算する
				 */
				calculateCodePoint:function(){
					var that = this;
					// 初期化
					for(var i in this.code_data){
						this.code_data[i].point = 0;
					}
					this.project_list.forEach(function(project){
						if(!project.point){
							return;
						}
						/**
						 * 適用済みポイント
						 * @type {number} assigned_point
						 */
						var assigned_point = 0;
						project.composed_of.forEach(function(code){
							that.code_data[code.id].point += Math.floor(project.point * code.percentage);
							assigned_point += Math.floor(project.point * code.percentage);
						});
						// 割り切れず残ったポイントを適用
						var rest_point = project.point - assigned_point;
						if(rest_point){
							project.composed_of.forEach(function(code){
								that.code_data[code.id].point += (rest_point?1:0)*1;
								if(rest_point){
									rest_point--;
								}
							});
						}
					});

				}
			}
		});
	})();
</script>
</body>
</html>