<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Excel Data Converter</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="style.css">
</head>
<body>
<div class="l-wrapper">
	<header class="l-header">
		<div class="header">
			<h1>Excel Data Converter</h1>
		</div>
	</header>
	<div id="app"></div>
</div>
<script type="text/x-template" id="tmpl-app">
	<div class="l-content">
		<div class="cmn_box">
			<div class="cmn_box-ttl">
				<h2>【１】設定選択</h2>
			</div>
			<div class="cmn_box-main">
				<div class="l-select_setting">
					<div class="select_parts">
						<p class="select_parts-label">{{selected_setting_label}}</p>
						<select v-model="selected_setting" @change="onChangeSettingSelect">
							<option value="">↓選択してください</option>
							<option v-for="setting in settings" :key="setting.key" :value="setting.id">{{setting.name}}</option>
						</select>
					</div>
				</div>

			</div>
		</div>

		<div class="cmn_box">
			<div class="cmn_box-ttl">
				<h2>【２】TSVファイルインポート</h2>
			</div>
			<div class="cmn_box-main">
				<div class="l-input_file">
					<div class="input_type_file_parts">
						<input type="file" :disabled="selected_setting?false:true" @change="onChangeInputFile" />
						<div class="input_type_file_parts-info" v-if="input_file">
							<dl>
								<dt>ファイル名</dt>
								<dd>{{input_file.name}}</dd>
								<dt>最終更新日時</dt>
								<dd>{{input_file.lastModifiedDate}}</dd>
								<dt>ファイルサイズ</dt>
								<dd>{{input_file.size}} byte</dd>
								<dt>MIMEタイプ</dt>
								<dd>{{input_file.type}}</dd>
							</dl>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cmn_box">
			<div class="cmn_box-ttl">
				<h2>【３】出力</h2>
			</div>
			<div class="cmn_box-main">
				<div class="l-output_file">
					<div class="textarea_parts">
						<textarea placeholder="ここに出力されます"></textarea>
					</div>
				</div>
				<div class="l-dl_btn" v-if="current_setting.output && current_setting.output.type === 'json'">
					<div class="dl_btn">
						<a href="#">
							ダウンロード
							<span class="dl_btn-filename">{{current_setting.output.name}}.json</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="./settings.js"></script>
<script type="text/javascript">
	(function(){
		new Vue({
			el:'#app',
			template:'#tmpl-app',
			data:{
				selected_setting:'',
				settings:'settings' in window ?settings:[],
				input_file:null,
				reader:null,
			},
			computed:{
				selected_setting_label:function(){
					var that = this;
					var ret = '↓選択してください';
					this.settings.forEach(function(setting){
						if(setting.id === that.selected_setting){
							ret = setting.name;
						}
					});
					return ret;
				},
				current_setting:function(){
					var that = this;
					var ret = {};
					this.settings.forEach(function(setting){
						if(setting.id === that.selected_setting){
							ret = setting;
						}
					});
					return ret;
				}
			},
			created:function(){
				this.reader = new FileReader();
				this.reader.addEventListener('load', this.fileLoad, false);
				console.log(this.settings);
			},
			methods:{
				onChangeSettingSelect:function(){
					console.log(this.selected_setting);
				},
				onChangeInputFile:function(e){
					var target = e.target;
					var files = target.files;
					if(files.length){
						this.input_file = files[0];
						var charset = this.current_setting.input.charset || 'UTF-8';
						this.reader.readAsText(files[0],charset);
					}else{
						this.input_file = null;
						this.reader.abort();
					}

					console.log(files);
				},
				fileLoad:function(){
					console.log(this.reader.result);
				}
			}
		});
	})();
</script>
</body>
</html>