<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Excel Data Converter</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="style.css">
</head>
<body>
<div class="l-wrapper">
	<header class="l-header">
		<div class="header">
			<h1>Excel Data Converter</h1>
		</div>
	</header>
	<div id="app"></div>
</div>
<script type="text/x-template" id="tmpl-app">
	<div class="l-content">
		<div class="cmn_box">
			<div class="cmn_box-ttl">
				<h2>【１】設定選択</h2>
			</div>
			<div class="cmn_box-main">
				<div class="l-select_setting">
					<div class="select_parts">
						<p class="select_parts-label">{{selected_setting_label}}</p>
						<select v-model="setting.selected" @change="onChangeSettingSelect">
							<option value="">↓選択してください</option>
							<option v-for="setting in setting.data" :key="setting.key" :value="setting.id">{{setting.name}}</option>
						</select>
					</div>
				</div>

			</div>
		</div>

		<div class="cmn_box">
			<div class="cmn_box-ttl">
				<h2>【２】TSVファイルインポート</h2>
			</div>
			<div class="cmn_box-main">
				<div class="l-input_file">
					<div class="input_type_file_parts">
						<input type="file" :disabled="setting.selected?false:true" @change="onChangeInputFile" v-if="input_file.is_show_input_parts"/>
						<div class="input_type_file_parts-info" v-if="input_file.info">
							<dl>
								<dt>ファイル名</dt>
								<dd>{{input_file.info.name}}</dd>
								<dt>最終更新日時</dt>
								<dd>{{input_file.info.lastModifiedDate|formatDate}}</dd>
								<dt>ファイルサイズ</dt>
								<dd>{{input_file.info.size}} byte</dd>
								<dt>MIMEタイプ</dt>
								<dd>{{input_file.info.type}}</dd>
							</dl>
							<a href="#" @click.prevent="clearInputFile" class="input_type_file_parts-clear">TSVファイルをクリアする</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cmn_box">
			<div class="cmn_box-ttl">
				<h2>【３】出力</h2>
			</div>
			<div class="cmn_box-main">
				<div class="l-output_file">
					<div class="textarea_parts">
						<textarea placeholder="ここに出力されます" v-html="output.txt"></textarea>
					</div>
				</div>
				<div class="l-dl_btn" v-if="output.dl_link && current_setting.output && current_setting.output.type === 'json'">
					<div class="dl_btn">
						<a :href="output.dl_link" :download="current_setting.output.name+'.json'">
							ダウンロード
							<span class="dl_btn-filename">{{current_setting.output.name}}.json</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="./settings.js"></script>
<script type="text/javascript">

	/**
	 * 日時を整形する
	 * @param {Date | string} date フォーマットしたい日時情報、デフォルトフォーマットのみ設定したい場合のみ null 可
	 * @param format フォーマット。未指定の場合はデフォルトフォーマットが適用される。date が null の場合はデフォルトフォーマットとして適用される
	 * @returns {String}
	 */
	var formatDate = (function(date, format){
		// デフォルトフォーマット
		var date_format = 'YYYY年MM月DD日(WD)';

		/**
		 * 文字列か否か
		 * @param obj
		 * @returns {boolean}
		 */
		function isString(obj){
			return typeof (obj) === "string" || obj instanceof String;
		}

		return function(date, format){
			// format だけ渡されたらデフォルトフォーマット指定
			if(!date && format && isString(format)){
				date_format = format;
				return;
			}

			if(isString(date)){
				date = new Date(date.replace(/-/g, '/'));
			}
			if(!format) format = date_format;
			var weekdaylist = ["日", "月", "火", "水", "木", "金", "土"];
			format = format.replace(/YYYY/g, date.getFullYear());
			format = format.replace(/MM/g, ('0' + (date.getMonth() + 1)).slice(-2));
			format = format.replace(/DD/g, ('0' + date.getDate()).slice(-2));
			format = format.replace(/hh/g, ('0' + date.getHours()).slice(-2));
			format = format.replace(/mm/g, ('0' + date.getMinutes()).slice(-2));
			format = format.replace(/ss/g, ('0' + date.getSeconds()).slice(-2));
			format = format.replace(/WD/g, weekdaylist[date.getDay()]);
			if(format.match(/S/g)){
				var milliSeconds = ('00' + date.getMilliseconds()).slice(-3);
				var length = format.match(/S/g).length;
				for(var i = 0; i < length; i++) format = format.replace(/S/, milliSeconds.substring(i, i + 1));
			}
			return format;
		};
	})();

	// デフォルトフォーマットを指定
	formatDate(null,'YYYY/MM/DD hh:mm:ss');

	(function(){
		Vue.filter('formatDate', formatDate);

		new Vue({
			el:'#app',
			template:'#tmpl-app',
			data:{
				setting:{
					selected:'',
					data:'settings' in window ?settings:[],
				},
				input_file:{
					is_show_input_parts:true,
					info:null,
					reader:null
				},
				output:{
					obj:null,
					txt:'',
					dl_link:''
				}
			},
			computed:{
				selected_setting_label:function(){
					var that = this;
					var ret = '↓選択してください';
					this.setting.data.forEach(function(setting){
						if(setting.id === that.setting.selected){
							ret = setting.name;
						}
					});
					return ret;
				},
				current_setting:function(){
					var that = this;
					var ret = {};
					this.setting.data.forEach(function(setting){
						if(setting.id === that.setting.selected){
							ret = setting;
						}
					});
					return ret;
				}
			},
			created:function(){
				this.input_file.reader = new FileReader();
				this.input_file.reader.addEventListener('load', this.onFileLoad, false);
				// 設定のIDが重複してないかチェック
				this.setting.data.forEach(function(setting,setting_index,moto){
					moto.some(function(moto_setting, moto_setting_index){
						if(setting.id === moto_setting.id && setting_index !== moto_setting_index){
							console.error('settings.jsのid、'+setting.id +'('+setting.name+')が重複しています。');
						}
					});
				});
			},
			methods:{
				/**
				 * 設定プルダウンのチェンジイベント
				 */
				onChangeSettingSelect:function(){
					this._clearData('input_file');
					console.log('setting.selected : '+this.setting.selected);
				},
				/**
				 * 入力ファイルのチェンジイベント
				 */
				onChangeInputFile:function(e){
					var target = e.target;
					var files = target.files;
					if(files.length){
						this.input_file.info = files[0];
						var charset = this.current_setting.input.charset || 'UTF-8';
						this.input_file.reader.readAsText(files[0],charset);
					}
				},
				/**
				 * 入力ファイルをクリア
				 */
				clearInputFile:function(){
					this._clearData('input_file');
				},
				/**
				 * 入力ファイルロードイベント
				 */
				onFileLoad:function(){
					var that = this;
					var input_file_text = this.input_file.reader.result;
					// TODO: ここ、なんとかわかりやすく書けないか？関数に関数を渡せるが、それだと可読性が…
					this.output.obj = (function(input_file_text,setting){
						var tmp = that._makeTwoDimensionalArrayFromTsv(input_file_text, {
							quote: (setting.quote || '"'),
							linedelim: (setting.linedelim || '999999'),
						});
						return that._makeAssociativeArrayObjectFromArray(tmp,{
							keys:(setting.input.keys || []),
							addItem:(setting.input.addItem || null),
							enable_line_from:(setting.input.enable_line_from || 3)
						});
					})(input_file_text,this.current_setting);
					if(this.current_setting.output.type === 'json'){
						this.output.txt = this._makeJsonSrc();
						this._setDlBtn();
					}else if(this.current_setting.output.type === 'html'){
						this.output.txt = this._makeHtmlSrc();
					}

				},
				/**
				 * tsvテキストから二次元配列化
				 * @param {String} txt
				 * @param {Object} op オプション
				 * @param {String} op.quote 文字列を囲み
				 * @param {String} op.linedelim 行のデリミタ
				 * @returns {Array}
				 */
				_makeTwoDimensionalArrayFromTsv:function(txt,op){
					if(!op || !op.quote|| !op.linedelim){
						console.error('TSVを二次元配列にするための情報が不足しています。');
						return;
					}
					var ret_ary = [];
					var re_quote = new RegExp('^'+op.quote+'([\\s\\S]+)'+op.quote+'$','m');
					var lines = (function(tsv){
						return tsv.split(op.linedelim);
					})(txt,op);
					lines.forEach(function(line,index){
						if(!(line.replace(/[\n\r\t]/g,''))){
							// 改行、タブをトルツメして空文字になる行は追加しない
							return;
						}
						var items = line.split('\t');
						items.forEach(function(item,item_index){
							if(item && item.match(re_quote)){
								items[item_index] = item.replace(re_quote,function(whole,s1){
									return s1;
								});
							}
						});
						ret_ary.push(items);
					});
					return ret_ary;
				},
				/**
				 * 二次元配列から連想配列化、項目ごとの処理も適用する
				 * @param {String} ary 加工元の二次元配列
				 * @param {Object} op オプション
				 * @param {Object.<String, Array>} op.keys エクセルの見出し文字列とkey名の組み合わせ、またそれぞれの追加処理等
				 * @param {Object.<String, Function>} op.addItem 行ごとのカスタム処理
				 * @param {Object.<String, Number>} op.enable_line_from 処理開始行
				 * @returns {Object}
				 */
				_makeAssociativeArrayObjectFromArray:function(ary,op){
					var ret = [];
					var _keys = [];
					var _tmp_obj = {};
					var _key_name_form_excel_name = {};
					var _key_settings_by_name = {};
					var is_be_output = 'is_be_output';
					op.keys.forEach(function(key_setting){
						_key_name_form_excel_name[key_setting.excel_name] = key_setting.name;
						_key_settings_by_name[key_setting.name] = key_setting;
					});
					ary.forEach(function(line,line_index){
						if(line_index === 0){
							// key 名の配列を作成
							line.forEach(function(item,item_index){
								_keys.push((_key_name_form_excel_name[item]?_key_name_form_excel_name[item]:''));
							});
						}
						if(line_index >= op.enable_line_from-1){
							_tmp_obj = {};
							// 出力可否の項目が〇でなければ処理しない
							if(line[_keys.indexOf(is_be_output)] !== '〇'){
								return;
							}
							// 項目ごとに key value のセットで追加する
							line.forEach(function(item,item_index){
								// item_index に key 名をもっていて、出力可否の項目ではない ＆ 出力対象外になってなければ 追加
								if(_keys[item_index] && _keys[item_index] !== is_be_output && !_key_settings_by_name[_keys[item_index]].is_not_output){
									// 改行コードを<br>にする
									if(_key_settings_by_name[_keys[item_index]].is_nl2br){
										item = item.replace(/\r\n|\r|\n/gm,'<br>');
									}
									// 〇 を true / 〇以外を false に変換
									if(_key_settings_by_name[_keys[item_index]].is_bool){
										item = (item === '〇');
									}
									// customValue 適用
									if(_key_settings_by_name[_keys[item_index]].customValue && typeof _key_settings_by_name[_keys[item_index]].customValue === "function"){
										item = _key_settings_by_name[_keys[item_index]].customValue(item);
									}
									_tmp_obj[_keys[item_index]] = item;
								}
							});

							// オブジェクトに key value のセットが1つ以上ぶらさがってたら return するオブジェクトに追加
							if(Object.keys(_tmp_obj).length){
								// カスタム処理があれば追加
								if(op.addItem && typeof op.addItem === 'function'){
									var line_obj = {};
									_keys.forEach(function(key,index){
										if(key){
											line_obj[key] = line[index];
										}
									});
									Object.assign(_tmp_obj, op.addItem(line_obj));
								}
								ret.push(_tmp_obj);
							}
						}
					});
					return ret;
				},
				/**
				 * 指定の工程以降のデータを初期化
				 * @param {String} step setting,input_file,output のいずれか、未指定の場合は setting
				 */
				_clearData:function(step){
					var that = this;
					if(!step){
						step = 'setting';
					}
					var steps = ['setting','input_file','output'];
					var tgt_steps = [];
					['setting','input_file','output'].forEach(function(tgt){
						if(tgt === step || tgt_steps.length){
							tgt_steps.push(tgt);
						}
					});
					if(!tgt_steps.length){
						console.error('_clearData のパラメータ'+step+'が不適切です。');
					}
					tgt_steps.forEach(function(tgt){
						if(tgt==='setting'){
							that.setting.selected = '';
						}else if(tgt==='input_file'){
							if(that.input_file.info){
								that.input_file.info = null;
								that.input_file.is_show_input_parts = false;
								setTimeout(function(){
									that.input_file.is_show_input_parts = true;
								}, 500);
							}
						}else if(tgt==='output'){
							that.output.obj = null;
							that.output.txt= '';
							that.output.dl_link = '';
						}
					});
				},
				/**
				 * jsonソースを生成する
				 */
				_makeJsonSrc:function(){
					return JSON.stringify({date:formatDate(this.input_file.info.lastModifiedDate),list:this.output.obj});;
				},
				/**
				 * ダウンロードボタンにjsonファイルを付ける
				 */
				_setDlBtn:function(){
					var blob = new Blob([ this.output.txt ], { "type" : "application/json" });
					window.URL = window.URL || window.webkitURL;
					this.output.dl_link = window.URL.createObjectURL(blob);
				},
				/**
				 * HTMLソースを生成する
				 */
				_makeHtmlSrc:function(){
					var ret = '';
					if(!this.current_setting.output.template){
						console.error('outputにtemplateの指定がありません');
						return;
					}
					var tmpl = this.current_setting.output.template.replace(/\{(.+?)\}/gm,'${$1}');
					this.output.obj.forEach(function(line){
						ret += eval('`'+tmpl+'`');
					});
					return ret;
				}
			}
		});
	})();
</script>
</body>
</html>