<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Case2</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

<div id="tgt">
	<div class="loading">
		<div class="loading-item loading-item1"></div>
		<div class="loading-item loading-item2"></div>
		<div class="loading-item loading-item3"></div>
	</div>
</div>

<script type="text/x-template" id="tmpl-page-loading">
	<div class="loading">
		<div class="loading-item loading-item1"></div>
		<div class="loading-item loading-item2"></div>
		<div class="loading-item loading-item3"></div>
	</div>
</script>

<script type="text/x-template" id="tmpl-page-entry">
	<div>
		entry<br>
		<player_info :player_data="player_data"></player_info>
		<form-item :form_data="enquete_data.prefecture" @update-form-data="updateFormData"></form-item>
		<p class="btn">
			<a href="#" @click.prevent="entry" v-if="is_entry_available">エントリー</a>
			<span v-else>次へ</span>
		</p>
		<p class="disable-msg" v-if="!is_entry_available">都道府県を選択してください</p>
	</div>
</script>
<script type="text/x-template" id="tmpl-player_info">
	<div class="player_info">
		<div class="player_info-inner" v-if="player_data.name">
			<dl>
				<dt>{{player_data.name}}</dt>
				<dd>{{player_data.rank}}</dd>
			</dl>
		</div>
		<div class="loading" v-else>
			<div class="loading-item loading-item1"></div>
			<div class="loading-item loading-item2"></div>
			<div class="loading-item loading-item3"></div>
		</div>
	</div>
</script>
<script type="text/x-template" id="tmpl-page-already_entry">
	<div>
		already_entry
	</div>
</script>

<script type="text/x-template" id="tmpl-form-radio">
	<div class="radio_parts">
		<template v-for="radio in form_data.list" >
			<p class="radio_parts-item">
				<input :type="form_data.type" :id="form_data.name+'_'+radio.value" name="form_data.name" :value="radio.value" :disabled="radio.disabled" @input="updateValue"><label :for="form_data.name+'_'+radio.value">{{radio.label}}</label>
			</p>
		</template>
	</div>
</script>
<script type="text/x-template" id="tmpl-form-checkbox">
	<div class="checkbox_parts">
		<template v-for="checkbox in form_data.list" >
			<p class="checkbox_parts-item">
				<input :type="form_data.type" :id="form_data.name+'_'+checkbox.value" name="form_data.name" :value="checkbox.value" :disabled="checkbox.disabled" @input="updateValue"><label :for="form_data.name+'_'+checkbox.value">{{checkbox.label}}</label>
			</p>
		</template>
	</div>
</script>
<script type="text/x-template" id="tmpl-form-select">
	<div class="select_parts">
		<p class="select_parts-label">{{selected_label}}</p>
		<select :name="form_data.name" @input="updateValue" :value="form_data.value" :disabled="form_data.disabled">
			<option v-for="option in form_data.list" :key="option.value" :value="option.value">{{option.label}}</option>
		</select>
	</div>
</script>
<script type="text/x-template" id="tmpl-form-input">
	<div class="input_parts">
		<input :type="form_data.type" :value="form_data.value" :maxlength="form_data.maxlength" :minlength="form_data.minlength" :step="form_data.step" :min="form_data.min" :max="form_data.max" :placeholder="form_data.placeholder" :disabled="form_data.disabled" @input="updateValue">
	</div>
</script>
<script type="text/x-template" id="tmpl-form-textarea">
	<div class="input_textarea">
		<textarea :value="form_data.value" :placeholder="form_data.placeholder" :disabled="form_data.disabled" @input="updateValue"></textarea>
	</div>
</script>

<script type="text/x-template" id="tmpl-form-item">
	<dl class="form-item">
		<dt>{{form_data.item_name}}</dt>
		<dd>
			<component :is="component_name" :form_data="form_data" @update-form-data="updateFormData"></component>
			<slot></slot>
			<p class="form-item-err" v-if="form_data.err_msg">{{form_data.err_msg}}</p>
			<p class="form-item-note" v-if="form_data.note">{{form_data.note}}</p>
		</dd>
	</dl>
</script>


<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="./global_components.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/superagent/3.8.3/superagent.min.js"></script>
<script type="text/javascript">
	var request = window.superagent;
	var vm_page = new Vue({
		el:'#tgt',
		data:{
			page:'page_loading',
			player_data:{
				name:'',
				rank:''
			},
			enquete_data:{
				prefecture: {
					item_name:'都道府県',
					name:'prefecture',
					type:'select',
					value:'',
					disabled:false,
					require: true,
					err_msg:'',
					list: [
						{
							value: '',
							label: '↓選択してください'
						},
						{value:1,label:"北海道"},
						{value:2,label:"青森県"},
						{value:3,label:"岩手県"},
						{value:4,label:"宮城県"},
						{value:5,label:"秋田県"},
						{value:6,label:"山形県"},
						{value:7,label:"福島県"},
						{value:8,label:"茨城県"},
						{value:9,label:"栃木県"},
						{value:10,label:"群馬県"},
						{value:11,label:"埼玉県"},
						{value:12,label:"千葉県"},
						{value:13,label:"東京都"},
						{value:14,label:"神奈川県"},
						{value:15,label:"新潟県"},
						{value:16,label:"富山県"},
						{value:17,label:"石川県"},
						{value:18,label:"福井県"},
						{value:19,label:"山梨県"},
						{value:20,label:"長野県"},
						{value:21,label:"岐阜県"},
						{value:22,label:"静岡県"},
						{value:23,label:"愛知県"},
						{value:24,label:"三重県"},
						{value:25,label:"滋賀県"},
						{value:26,label:"京都府"},
						{value:27,label:"大阪府"},
						{value:28,label:"兵庫県"},
						{value:29,label:"奈良県"},
						{value:30,label:"和歌山県"},
						{value:31,label:"鳥取県"},
						{value:32,label:"島根県"},
						{value:33,label:"岡山県"},
						{value:34,label:"広島県"},
						{value:35,label:"山口県"},
						{value:36,label:"徳島県"},
						{value:37,label:"香川県"},
						{value:38,label:"愛媛県"},
						{value:39,label:"高知県"},
						{value:40,label:"福岡県"},
						{value:41,label:"佐賀県"},
						{value:42,label:"長崎県"},
						{value:43,label:"熊本県"},
						{value:44,label:"大分県"},
						{value:45,label:"宮崎県"},
						{value:46,label:"鹿児島県"},
						{value:47,label:"沖縄県"}
					]
				}
			}
		},
		template:'<compnent :is="page" :enquete_data="enquete_data" :player_data="player_data" @update-form-data="updateFormData" @next="next" @entry="entry"></compnent>',
		created:function(){
			var that = this;
			request
				.get('https://yesno.wtf/api')
				.end(function(err, res){
					console.log('kita',res);
					if(res.body.answer == 'yes'){
						that.page = 'page_entry';
						request
							.get('https://yesno.wtf/api')
							.end(function(err, res){
								that.player_data.name = 'hoge';
								that.player_data.rank = 'S';
							});
					}else{
						that.page = 'page_already_entry';
					}


				});
		},
		components:{
			page_loading:{
				template:'#tmpl-page-loading'
			},
			page_entry:{
				template:'#tmpl-page-entry',
				props:{
					enquete_data:{
						type:Object,
						require:true
					},
					player_data:{
						type:Object,
						require:true
					}
				},
				computed:{
					is_entry_available:function(){
						var ret = false;
						if(this.enquete_data.prefecture.value){
							ret = true;
						}
						return ret;
					}
				},
				data:function(){
					return {
						aaa:[]
					}
				},
				methods:{
					entry:function(){
						console.log('entry');
						this.$emit('entry');
					},
					updateFormData:function(obj){
						console.log('updateFormData',obj);
						this.$emit('update-form-data',obj);
					}
				},
				components:{
					player_info:{
						template:'#tmpl-player_info',
						props:{
							player_data:{
								type:Object,
								require:true
							}
						}
					}
				}
			},
			page_already_entry:{
				template:'#tmpl-page-already_entry'
			}
		},
		methods:{
			next:function(){
				this.page = 'page_entry';
				localStorage.setItem('already_accept', 1);
				return;
			},
			updateAcceptValue:function(obj){
				console.log('updateAcceptValue',obj);
				this.accept_value[obj.name] = obj.value;
			},
			updateFormData:function(obj){
				console.log('updateFormData',obj);
				var form_data = this.enquete_data;
				if(Array.isArray(form_data[obj.name].value)){
					// valueが配列 ＝ checkbox
					var index_of_value = form_data[obj.name].value.indexOf(obj.value);
					if(obj.checked){
						if (index_of_value == -1){
							form_data[obj.name].value.push(obj.value);
						}
					}else{
						if (index_of_value >= 0){
							form_data[obj.name].value.splice( index_of_value, 1 ) ;
						}
					}
				}else{
					form_data[obj.name].value = obj.value;
				}
				return;
			},
			_checkForm:function(){
				var err_flg = false;
				var form_data = this.enquete_data;
				for(var form_name in form_data){
					form_data[form_name].err_msg = '';
					// 未入力チェック
					if(form_data[form_name].require){
						if(!form_data[form_name].value || Array.isArray(form_data[form_name].value) && !form_data[form_name].value.length){
							if(form_data[form_name].list && form_data[form_name].list.length){
								form_data[form_name].err_msg = '選択必須項目です';
							}else{
								form_data[form_name].err_msg = '入力必須項目です';
							}
							err_flg = true;
						}

					}
					// フォーマットチェック
					if(!err_flg){
						if(form_data[form_name].pattern && form_data[form_name].value){
							var re = new RegExp(form_data[form_name].pattern);
							if(!form_data[form_name].value.match(re)){
								form_data[form_name].err_msg = form_data[form_name].pattern_err_msg || '入力内容を確認してください';
								err_flg = true;
							}
						}
					}

				}
				console.log()
				return err_flg;
			},
			entry:function(){
				console.log('entry');
				var err_flg = this._checkForm();
				console.log(err_flg);
				if(!err_flg){
					var form_data = this.enquete_data;
					var params_obj = {};
					for(var i in form_data){
						params_obj[form_data[i].name]=form_data[i].value;
					}
					request
						.get('https://yesno.wtf/api')
						.query(params_obj)
						.end(function(err, res){
							console.log(res.status);
							if(!err){
								if(res.ok){
									console.log(res.body);
								}else{
									console.log(res.status);
								}
							}else{
								console.log(err);
							}


						});
				}

			}
		}
	});
</script>
</body>
</html>