<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>formparts</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

<div id="form-area">
	<form action="" method="get">
		<form-item :form_data="form_data.input_text_sample" @update-form-data="updateFormData"></form-item>
		<form-item :form_data="form_data.input_password_sample" @update-form-data="updateFormData"></form-item>
		<form-item :form_data="form_data.input_number_sample" @update-form-data="updateFormData"></form-item>
		<form-item :form_data="form_data.input_radio_sample" @update-form-data="updateFormData"></form-item>
		<form-item :form_data="form_data.input_radio_text_sample" @update-form-data="updateFormData">
			<form-input :form_data="form_data.input_add_text_sample" @update-form-data="updateFormData"></form-input>
		</form-item>
		<form-item :form_data="form_data.input_checkbox_sample" @update-form-data="updateFormData"></form-item>
		<form-item :form_data="form_data.select_sample" @update-form-data="updateFormData"></form-item>
		<form-item :form_data="form_data.textarea_sample" @update-form-data="updateFormData"></form-item>
		<form-item :form_data="form_data.textarea_sample2" @update-form-data="updateFormData"></form-item>
		<p class="btn"><a href="#" @click.stop.prevent="submit">送信</a></p>
	</form>
</div>

<script type="text/x-template" id="tmpl-form-radio">
	<div class="radio_parts">
		<template v-for="radio in form_data.list" >
			<p class="radio_parts-item">
				<input :type="form_data.type" :id="form_data.name+'_'+radio.value" name="form_data.name" :value="radio.value" :disabled="radio.disabled" @input="updateValue"><label :for="form_data.name+'_'+radio.value">{{radio.label}}</label>
			</p>
		</template>
	</div>
</script>
<script type="text/x-template" id="tmpl-form-checkbox">
	<div class="checkbox_parts">
		<template v-for="checkbox in form_data.list" >
			<p class="checkbox_parts-item">
				<input :type="form_data.type" :id="form_data.name+'_'+checkbox.value" name="form_data.name" :value="checkbox.value" :disabled="checkbox.disabled" @input="updateValue"><label :for="form_data.name+'_'+checkbox.value">{{checkbox.label}}</label>
			</p>
		</template>
	</div>
</script>
<script type="text/x-template" id="tmpl-form-select">
	<div class="select_parts">
		<p class="select_parts-label">{{selected_label}}</p>
		<select :name="form_data.name" @input="updateValue" :value="form_data.value" :disabled="form_data.disabled">
			<option v-for="option in form_data.list" :key="option.value" :value="option.value">{{option.label}}</option>
		</select>
	</div>
</script>
<script type="text/x-template" id="tmpl-form-input">
	<div class="input_parts">
		<input :type="form_data.type" :value="form_data.value" :maxlength="form_data.maxlength" :minlength="form_data.minlength" :step="form_data.step" :min="form_data.min" :max="form_data.max" :placeholder="form_data.placeholder" :disabled="form_data.disabled" @input="updateValue">
	</div>
</script>
<script type="text/x-template" id="tmpl-form-textarea">
	<div class="input_textarea">
		<textarea :value="form_data.value" :placeholder="form_data.placeholder" :disabled="form_data.disabled" @input="updateValue"></textarea>
	</div>
</script>

<script type="text/x-template" id="tmpl-form-item">
	<dl class="form-item">
		<dt>{{form_data.item_name}}</dt>
		<dd>
			<component :is="component_name" :form_data="form_data" @update-form-data="updateFormData"></component>
			<slot></slot>
			<p class="form-item-err" v-if="form_data.err_msg">{{form_data.err_msg}}</p>
			<p class="form-item-note" v-if="form_data.note">{{form_data.note}}</p>
		</dd>
	</dl>
</script>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="./global_components.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/superagent/3.8.3/superagent.min.js"></script>
<script type="text/javascript">
	var request = window.superagent;
	new Vue({
		el:'#form-area',
		data: {
			form_data:{
				input_text_sample:{
					item_name:'テキスト入力フォーム',
					name:'input_text_sample',
					type:'text',
					value:'',
					disabled:false,
					minlength:3,
					maxlength:12,
					placeholder:'入力してください',
					pattern:'^[0-9a-zA-Z_-]{3,12}$',
					pattern_err_msg:'半角英数字_-のみで3～12文字で入力',
					require: true,
					err_msg:'',
					note:'※補足テキスト'
				},
				input_password_sample:{
					item_name:'パスワード入力フォーム',
					name:'input_password_sample',
					type:'password',
					value:'',
					disabled:false,
					placeholder:'入力してください',
					require: true,
					err_msg:'',
					note:''
				},
				input_number_sample:{
					item_name:'数値入力フォーム',
					name:'input_number_sample',
					type:'number',
					step:2,
					min:4,
					value:'',
					disabled:false,
					require: true,
					err_msg:'',
					note:''
				},
				input_radio_sample:{
					item_name:'ラジオボタン',
					name:'input_radio_sample',
					type:'radio',
					value:'',
					disabled:false,
					require: true,
					err_msg:'',
					note:'',
					list:[
						{
							value:'a',
							label:'選択肢A',
							disabled:false
						},
						{
							value:'b',
							label:'選択肢B',
							disabled:false
						},
						{
							value:'c',
							label:'選択肢C',
							disabled:true
						}
					]
				},
				input_checkbox_sample:{
					item_name:'チェックボックス',
					name:'input_checkbox_sample',
					type:'checkbox',
					value:[],
					require: true,
					err_msg:'',
					note:'',
					list:[
						{
							value:'a',
							label:'選択肢A',
							disabled:false
						},
						{
							value:'b',
							label:'選択肢B',
							disabled:false
						},
						{
							value:'c',
							label:'選択肢C',
							disabled:true
						}
					]
				},
				select_sample: {
					item_name:'プルダウン',
					name:'select_sample',
					type:'select',
					value:'',
					disabled:false,
					require: true,
					err_msg:'',
					note:'',
					list: [
						{
							value: '',
							label: '↓選択してください'
						},
						{
							value: 'hoge1',
							label: 'ほげ1です'
						},
						{
							value: 'hoge2',
							label: 'ほげ2です'
						},
						{
							value: 'hoge3',
							label: 'ほげ3です'
						},
						{
							value: 'hoge4',
							label: 'ほげ4です'
						}
					]
				},
				textarea_sample:{
					item_name:'textarea見出し',
					name:'textarea_sample',
					type:'textarea',
					value:'',
					disabled:false,
					placeholder:'入力してください',
					require: true,
					err_msg:'',
					note:'※補足テキスト'
				},
				textarea_sample2:{
					item_name:'textarea見出し2',
					name:'textarea_sample2',
					type:'textarea',
					value:'',
					require: true,
					err_msg:''
				},
				input_radio_text_sample:{
					item_name:'ラジオボタンとテキストフォームの組み合わせ',
					name:'input_radio_text_sample',
					type:'radio',
					value:'',
					require: true,
					err_msg:'',
					note:'',
					list:[
						{
							value:'a',
							label:'こっちは選択したら以上',
							disabled:false
						},
						{
							value:'b',
							label:'テキストも入力',
							disabled:false
						}
					]
				},
				input_add_text_sample:{
					name:'input_add_text_sample',
					type:'text',
					value:'',
					disabled:true,
					err_msg:''
				}
			}
		},
		computed: {
		},
		methods:{
			updateFormData:function(obj){
				console.log('親、updateFormData',obj);
				var form_data = this.form_data;
				if(Array.isArray(form_data[obj.name].value)){
					// valueが配列 ＝ checkbox
					var index_of_value = form_data[obj.name].value.indexOf(obj.value);
					if(obj.checked){
						if (index_of_value == -1){
							form_data[obj.name].value.push(obj.value);
						}
					}else{
						if (index_of_value >= 0){
							form_data[obj.name].value.splice( index_of_value, 1 ) ;
						}
					}
				}else{
					form_data[obj.name].value = obj.value;
				}

				// 個別に追加
				this.updateFormDataCustom(obj);

				return;
			},
			updateFormDataCustom:function(obj){
				var form_data = this.form_data;
				if(obj.name === 'input_radio_text_sample'){
					if(obj.value === 'b'){
						form_data.input_add_text_sample.disabled = false;
					}else{
						form_data.input_add_text_sample.disabled = true;
					}
				}
			},
			_checkForm:function(){
				var err_flg = false;
				var form_data = this.form_data;
				for(var form_name in form_data){
					form_data[form_name].err_msg = '';
					// 未入力チェック
					if(form_data[form_name].require){
						if(!form_data[form_name].value || Array.isArray(form_data[form_name].value) && !form_data[form_name].value.length){
							if(form_data[form_name].list && form_data[form_name].list.length){
								form_data[form_name].err_msg = '選択必須項目です';
							}else{
								form_data[form_name].err_msg = '入力必須項目です';
							}
							err_flg = true;
						}

					}
					// フォーマットチェック
					if(!err_flg){
						if(form_data[form_name].pattern && form_data[form_name].value){
							var re = new RegExp(form_data[form_name].pattern);
							if(!form_data[form_name].value.match(re)){
								form_data[form_name].err_msg = form_data[form_name].pattern_err_msg || '入力内容を確認してください';
								err_flg = true;
							}
						}
					}

					// 個別チェック
					if(this._checkFormCustom){
						err_flg = this._checkFormCustom(form_name) || err_flg;
					}

				}
				return err_flg;
			},
			_checkFormCustom:function(form_name){
				var err_flg = false;
				var form_data = this.form_data;
				var checkFn = {
					input_add_text_sample:function(){
						var err_flg = false;
						if(form_data.input_radio_text_sample.value === 'b' && !form_data.input_add_text_sample.value){
							form_data.input_radio_text_sample.err_msg = 'Bを選択した場合は補足テキスト入力必須';
							err_flg = true;
						}
						return err_flg;
					}
				};
				err_flg = checkFn[form_name] && checkFn[form_name]() || false;
				return err_flg;
			},
			submit:function(){
				console.log('submit');
				var err_flg = this._checkForm();
				if(!err_flg){
					var form_data = this.form_data;
					var params_obj = {};
					for(var i in form_data){
						params_obj[form_data[i].name]=form_data[i].value;
					}
					request
						.get('https://yesno.wtf/api')
						.query(params_obj)
						.end(function(err, res){
							if(!err){
								if(res.ok){
									console.log(res.body);
								}else{
									console.log(res.status);
								}
							}else{
								console.log(err);
							}
						});
				}


				return false;
			}
		}
	});
</script>
</body>
</html>