<!doctype html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta http-equiv="content-language" content="ja-JP">
	<title>backbone.js modelだけのテスト</title>
</head>
<body>
<div id="wrapper">
	<section id="index" class="page">ローディング</section>
	<section id="select" class="page"></section>
	<section id="setting" class="page"></section>
	<section id="edit" class="page"></section>
</div>

<script type="text/template" id="tmpl-select-taikai">
	<p class="btn"><a href="#" data-taikai="jp">地域１</a></p>
	<p class="btn"><a href="#" data-taikai="asia">地域２</a></p>
</script>

<script type="text/template" id="tmpl-select-page">
	<ul>
		<li>
			<a href="#" class="select-page" data-page="reset">初期状態<% if(page=='reset'){ %>選択<% } %></a>
		</li>
		<li>
			<a href="#" class="select-page" data-page="league">ページ１<% if(page=='league'){ %>選択<% } %></a>
		</li>
		<li>
			<a href="#" class="select-page" data-page="match">ページ２<% if(page=='match'){ %>選択<% } %></a>
		</li>
		<li><a href="#" class="select-page" data-page="vs">ページ３<% if(page=='vs'){ %>選択<% } %></a></li>
		<li><a href="#" class="select-page" data-page="player">ページ４<% if(page=='player'){ %>選択<% } %></a></li>
	</ul>
</script>

<script type="text/template" id="tmpl-edit">
	<%= selected_page %>
	<p class="btn"><a href="#" class="update">登録</a></p>
</script>

<script src="./js/underscore-min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="./js/backbone.js"></script>
<script>
	Backbone.emulateHTTP = true;
	Backbone.emulateJSON = true;
	var infoMap = {
		'create': {type: 'POST', action: "create"},
		'update': {type: 'POST', action: "update"},
		'delete': {type: 'POST', action: "delete"},
		'read': {type: 'POST' , action: "read"}
	};
	Backbone.sync = function(info, model, options) {
//		console.log(info);
//		console.log(model);
//		console.log(options);
		var info = infoMap[info];
		var type = info.type; // method_type
		var action = info.action // action
		console.log(action);

		// Default JSON-request options.
		var params = {type: type, dataType: 'json'};

		// Ensure that we have a URL.
		if (!options.url) {
			params.url = getValue(model, 'url') || urlError();
		}

		// Ensure that we have the appropriate request data.
		if(type == "POST"){
			params.contentType = 'application/json';
			params.data = JSON.stringify(model.toJSON());
		} else {
			//console.log(model);
			// params.data = $.param(model.toJSON());
		}

		// For older servers, emulate JSON by encoding the request into an HTML-form.
		if (Backbone.emulateJSON) {
			params.contentType = 'application/x-www-form-urlencoded';
			params.data = params.data ? {model: params.data} : {};
		}
		// Don't process data on a non-GET request.
		if (params.type !== 'GET' && !Backbone.emulateJSON) {
			params.processData = false;
		}
		// 対象ファイル
		if(model.file_name){
			params.data.file_name = model.file_name;
		}
		// アクション
		params.data.action = action;

		// console.dir(params);
		// Make the request, allowing the user to override any Ajax options.
		return $.ajax(_.extend(params, options));
	};
	// Helper function to get a value from a Backbone object as a property
	// or as a function.
	var getValue = function(object, prop) {
		if (!(object && object[prop])) return null;
		return _.isFunction(object[prop]) ? object[prop]() : object[prop];
	};

	// Throw an error when a URL is needed, and none is supplied.
	var urlError = function() {
		throw new Error('A "url" property or function must be specified');
	};

	/* model */
	var Screen = Backbone.Model.extend({
		urlRoot: './api/screen.php',
		file_name:'screen',
		defaults:{
			id:'',
			taikai:'',
			page:'',
			params:{}
		},
		initialize: function (){
			this.file_name = this.file_name+this.id;
			this.fetch({
				success:function(model, res, options){
					console.log(model);
					if(!model.get('taikai')){
						router.navigate('select',{trigger:true});
					}else{
						router.navigate('setting',{trigger:true});
					}
				},
				error:function(model, res, options){
					console.log(model);
				}
			});
		},
		url:function(){
			return this.urlRoot;
		},
		parse:function(obj){
			return obj;
		},
		onChange:function(model){
			console.log('screen change');
			model.save();
		}
	});

	var SelectTaikaiView = Backbone.View.extend({
		tag:'div',
		initialize:function(){
			this.render();
		},
		events: {
			"click .btn a": "selectTaikai"
		},
		template:_.template($('#tmpl-select-taikai').text()),
		render:function(){
			var html = this.template(this.model.attributes);
			this.$el.empty().html(html);
			return this;
		},
		selectTaikai:function(e){
			var selected_taikai = $(e.currentTarget).data('taikai');
			this.model.set({taikai:selected_taikai});
			this.model.save();
			router.navigate('setting',{trigger:true});
			return false;
		}
	});
	var SelectPageView = Backbone.View.extend({
		tag:'div',
		initialize:function(){
			this.render();
			this.listenTo(this.model, 'change', this.render);
		},
		events: {
			"click a.select-page": "selectPage"
		},
		template:_.template($('#tmpl-select-page').text()),
		render:function(){
			console.log(this.model.attributes);
			var html = this.template(this.model.attributes);
			this.$el.empty().html(html);
			return this;
		},
		selectPage:function(e){
			var selected_page = $(e.currentTarget).data('page');
			console.log(selected_page);
			router.navigate('setting/'+selected_page,{trigger:true});
			return false;
		}
	});
	var EditView = Backbone.View.extend({
		tag:'div',
		selected_page:'',
		initialize:function(obj){
			this.selected_page = obj.selected_page;
			this.render();
		},
		events: {
			"click a.update": "update"
		},
		template:_.template($('#tmpl-edit').text()),
		render:function(){
			var html = this.template({model:this.model.attribute,selected_page:this.selected_page});
			this.$el.empty().html(html);
			return this;
		},
		setSelectedPage:function(page){
			this.selected_page = page;
			this.render();
		},
		update:function(e){
			this.model.set({page:this.selected_page});
			this.model.save();
			router.navigate('setting',{trigger:true});
			return false;
		}
	});

	var screen;

	var Router = Backbone.Router.extend({
		initialize: function() {
			screen = new Screen({id:1});
		},
		views:{},
		routes: {
			'':'index',
			'index':'index',
			'select': 'select',
			'setting': 'setting',
			'setting/:page':'edit'
		},
		index:function(){
			console.log('a');
			this.show('index');
		},
		select:function(){
			this.views.selectTaikai = new SelectTaikaiView({model:screen});
			$('#select').append(this.views.selectTaikai.el);
			this.show('select');
		},
		setting:function(){
			if(!this.views.selectPage){
				this.views.selectPage = new SelectPageView({model:screen});
				$('#setting').append(this.views.selectPage.el);
			}
			this.show('setting');
		},
		edit:function(page){
			if(!this.views.edit){
				this.views.edit = new EditView({model:screen,selected_page : page});
				$('#edit').append(this.views.edit.el);
			}else{
				this.views.edit.setSelectedPage(page);
			}
			this.show('edit');
		},
		show:function(id){
			$('section.page').hide();
			$('#'+id).show();
		}
	});

	var router = new Router();

	Backbone.history.start();
</script>

</body>
</html>





