<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Title</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="style.css">
</head>
<body>
<div class="l-wrapper" id="wrapper">
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	<a href="#" onclick="vm_modal.open(this);return false;" data-tmpl="tmpl-dialog" data-vars="title==見出し&&lead==内容入ります">onclickでopen</a><br>
	<a href="#" onclick="openDialog();return false;">jsから開く</a><br>
	<a href="#" onclick="vm_modal.open(this);return false;" data-tmpl="tmpl-playerDetail" data-vars="title==プレイヤー名&&lead==この人はこういう人です。">onclickでopen、デザイン赤</a><br>
	<a href="#" onclick="openDialog2();return false;">jsからグローバルコンポーネント開く</a><br>
	<a href="#" onclick="vm_modal.open(this);return false;">data-でとるときthisをわたさないとだめか？→だめだった</a><br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	<div id="hoge">ここだよ!</div>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
	内容入る<br>
</div>
<div id="modal"></div>
<!-- vm_modal のテンプレート（編集不可） -->
<script type="text/x-template" id="tmpl-modal">
	<transition @after-enter="showAnime">
		<div v-if="is_active" :class="class_obj" :style="style_obj" @click.prevent.self="close">
			<component :is="component" :type="type" :vars="vars" @close="close"></component>
		</div>
	</transition>
</script>
<!-- vm_modal のローカルコンポーネントで使用するベースのテンプレート（編集不可） -->
<script type="text/x-template" id="tmpl-modal-default">
	<div :class="type+'-inner'">
		<div v-if="vars.title" :class="type+'-title'">
			<h1>{{vars.title}}</h1>
			<p v-if="type==='fullpanel'" class="fullpanel-title-close">
				<a href="#" @click.prevent="close"></a>
			</p>
		</div>
		<div :class="type+'-main'">
			<div :class="type+'-main-inner'">
				<p>{{vars.lead}}</p>
			</div>
			<div :class="type+'-btns'">
				<p class="btn btn-cancel">
					<a href="#" @click.prevent="close">CLOSE</a>
				</p>
			</div>
		</div>
	</div>
</script>

<!-- ここから下が、ページ実装時に追加して調整するテンプレート例 -->
<script type="text/x-template" id="tmpl-dialog">
	<div :class="type+'-inner'">
		<div v-if="vars.title" :class="type+'-title'">
			<h1>{{vars.title}}</h1>
			<p v-if="type==='fullpanel'" class="fullpanel-title-close">
				<a href="#" @click.prevent="close"></a>
			</p>
		</div>
		<div :class="type+'-main'">
			<div :class="type+'-main-inner'">
				<p>{{vars.lead}}</p>
			</div>
			<div :class="type+'-btns'">
				<p class="btn btn-cancel">
					<a href="#" @click.prevent="close">CLOSE</a>
				</p>
			</div>
		</div>
	</div>
</script>
<script type="text/x-template" id="tmpl-dialog2">
	<div :class="type+'-inner'">
		<div v-if="vars.title" :class="type+'-title'">
			<h1>{{vars.title}}</h1>
			<p v-if="type==='fullpanel'" class="fullpanel-title-close">
				<a href="#" @click.prevent="close"></a>
			</p>
		</div>
		<div :class="type+'-main'">
			<div :class="type+'-main-inner'">
				<p v-html="vars.lead"></p>
				<p v-html="vars.lead"></p>
				<p>{{vars.point|addFigure}}点</p>
				<p>{{vars.date|formatDate('YYYY年MM月')}}</p>
				<p v-formatDateHtml="vars.date" data-format="YYYY<span>年</span>"></p>
			</div>
			<div :class="type+'-btns'">
				<p class="btn btn-cancel">
					<a href="#" @click.prevent="demo">DEMO</a>
				</p>
				<p class="btn btn-cancel">
					<a href="#" @click.prevent="close">CLOSE</a>
				</p>
			</div>
		</div>
	</div>
</script>
<script type="text/x-template" id="tmpl-playerDetail">
	<div :class="type+'-inner'">
		<div v-if="vars.title" :class="type+'-title'">
			<h1>{{vars.title}}</h1>
			<p v-if="type==='fullpanel'" class="fullpanel-title-close">
				<a href="#" @click.prevent="close"></a>
			</p>
		</div>
		<div :class="type+'-main'">
			<div :class="type+'-main-inner'">
				<p>{{vars.lead}}</p>
			</div>
			<div :class="type+'-btns'">
				<p class="btn btn-cancel">
					<a href="#" @click.prevent="close">CLOSE</a>
				</p>
			</div>
		</div>
	</div>
</script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script type="text/javascript">

	Vue.component('global_component', {
		data: function () {
			return {
				test: 'yaho'
			}
		},
		template: '<p>{{test}}</p>'
	})
</script>
<script src="common.js"></script>
<script type="text/javascript">
	function openDialog(){
		vm_modal.open({
			tmpl:'tmpl-dialog2',
			vars:{
				title:'hoge',
				lead:"改行いれたよ<br>改行れたよ<br>内容いれておきますよいいですよね<br>これってどうなるかな？<br>これってどうなるかな？<br>これってどうなるかな？<br>これってどうなるかな？<br>これってどうなるかな？<br>これってどうなるかな？<br>これってどうなるかな？<br>これってどうなるかな？<br>これってどうなるかな？",
				point:900000000,
				date:'2018-11-11 10:00:00'
			},
			methods:{
				demo:function(){
					alert('yaho');
					return;
				}
			}
		});
	}
	function openDialog2(){
		vm_modal.open({component_name:'global_component'});
	}
	(function(){
		// comment
	})();
</script>
</body>
</html>